body {
    background-color: rgb(16, 65, 65);




    display: flex;
    justify-content: center; /* Horizontal center */
    align-items: center;     /* Vertical center */
    height: 100vh;           /* Full viewport height */
    margin: 0;
}





p {
    color: rgb(242, 230, 211);
    opacity: 100%;
    font-size: 3.5;
    font-family: EB Garamond;
    font-style: italic;
    padding-right: 3em;
    padding-left: 3em
    
}


.container {
    position: relative;
    width: 400%;
    height: 400px;   /* any size you want */
    overflow: hidden;
}

#follow-img {
    position: absolute;
    width: 1000px;
    pointer-events: none; /* allows hover area to detect mouse */
    transition: transform 0.3s linear;
}


a {
  text-decoration: none;
}

.yolo {
        color: rgb(242, 230, 211);
    opacity: 50%;
    font-size: 7em;
    font-family: EB Garamond;
    font-style: italic;
    padding-right: 3em;
    padding-left: 3em

}